- @assets = StylishRte::Asset.all

%h2 Existing Assets

.assets
  - if @assets.empty?
    %p No Assets exist yet.  Upload one.
  - else
    = render :partial => @assets.reverse, :locals => {:htmlarea => htmlarea }

= render :partial => 'stylish_rte/assets/new', :locals => {:target_div => target_div, :htmlarea => htmlarea}
